.popup__button-save {
  width: 100%;
  min-height: 50px;
  padding: 0;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
}

@media (min-width: 768px) {
  .popup__button-save {
    font-size: 18px;
    line-height: 22px;
  }
}