.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 38px);
  max-width: 880px;
  padding: 42px 0 36px;
}

@media (min-width: 768px) {
  .profile {
    flex-direction: row;
    padding: 40px 0 50px;
  }
}