.profile__profession {
  margin: 0 0 36px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

@media (min-width: 768px) {
 .profile__profession {
   margin: 0;
   font-size: 18px;
   line-height: 22px;
 } 
}